.game-primary-div {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

.game-secondary-first-div {
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;

  opacity: 0.75;

  @media (max-width: 768px) {
    border-radius: 0.5rem;
  }
}

.game-secondary-second-div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;  
  padding: 2rem;
  
  @media (max-width: 1024px) {
    padding: 2rem;
  }

  @media (max-width: 768px) {
    padding: 2rem;
  }

  @media (max-width: 480px) {
    padding: 2rem;
  }
}


@media screen and (min-width: 2048px) and (min-height: 1536px) and (orientation: landscape) {
  .background-game {
    padding: 2rem !important;
  }
}

/* iPad Air 13" 2024/2025 */
@media screen and (min-width: 2732px) and (orientation: landscape) {
  .background-game {
    padding: 2.25rem;
  }
}
